<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010948724218-s4ncljiiqpa3305t26rf5r9etem48984.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010948724218-s4ncljiiqpa3305t26rf5r9etem48984</string>
	<key>API_KEY</key>
	<string>AIzaSyA2RjqBc9OJKaEUqwLUQWgR-IL1OtKUfzk</string>
	<key>GCM_SENDER_ID</key>
	<string>1010948724218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bulkbuyersconnect.bulk</string>
	<key>PROJECT_ID</key>
	<string>bulk-buyers-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>bulk-buyers-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010948724218:ios:6e163bd365a5c58f098043</string>
	<key>DATABASE_URL</key>
	<string>https://bulk-buyers-connect.firebaseio.com</string>
</dict>
</plist>